## `Closure`

In [92]:
def criar_saudacao(saudacao):
    def saudar(nome):
        return f'{saudacao}, {nome}!'
    return saudar

falar_bom_dia = criar_saudacao('Bom dia')
falar_boa_noite = criar_saudacao('Boa noite')

for nome in ['Ana', 'Pedro', 'Maria']:
    print(falar_bom_dia(nome))
    print(falar_boa_noite(nome))

Bom dia, Ana!
Boa noite, Ana!
Bom dia, Pedro!
Boa noite, Pedro!
Bom dia, Maria!
Boa noite, Maria!

In [93]:
# EXERCICIO

def criar_multiplicador(multiplicador):
    def multiplicar(numero):
        return numero * multiplicador
    return multiplicar


duplicar = criar_multiplicador(2)
resultado = duplicar(15)

print(resultado)

30

# `Dict`:

In [94]:
pessoa = dict(nome="Tauan", sobrenome="Torres")

print(pessoa)

{'nome': 'Tauan', 'sobrenome': 'Torres'}

In [95]:
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
    'idade': 30
}

print(pessoa)

{'nome': 'Tauan', 'sobrenome': 'Torres', 'idade': 30}

In [96]:
del pessoa['sobrenome']

print(pessoa)

{'nome': 'Tauan', 'idade': 30}

In [97]:
# CASE 1
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
    'idade': 30
}

pessoa.setdefault("idade", 28)

if pessoa.get('idade'):
    print(pessoa['idade'])

30

## `copy`:

In [98]:
# CASE 2
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
}

pessoa.setdefault("idade", 28)

if pessoa.get('idade'):
    print(pessoa['idade'])

28

In [99]:
# CASE 3
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
}

if pessoa.get('idade'):
    print(pessoa['idade'])
else:
    print("Idade não informada.")

Idade não informada.

In [100]:
# CASE 1
d1 = {
    'c1': 1,
    'c2': 2,
    'l1': [0, 1, 2],
}

d2 = d1

d2['c1'] = 1000

print(d1)
print(d2)

{'c1': 1000, 'c2': 2, 'l1': [0, 1, 2]}
{'c1': 1000, 'c2': 2, 'l1': [0, 1, 2]}

In [101]:
# CASE 2
d1 = {
    'c1': 1,
    'c2': 2,
    'l1': [0, 1, 2],
}

d2 = d1.copy()

d2['c1'] = 1000

print(d1)
print(d2)

{'c1': 1, 'c2': 2, 'l1': [0, 1, 2]}
{'c1': 1000, 'c2': 2, 'l1': [0, 1, 2]}

In [102]:
# CASE 2
d1 = {
    'c1': 1,
    'c2': 2,
    'l1': [0, 1, 2],
}

d2 = d1.copy() # shallow-copy

d2['c1'] = 1000
d2['l1'][1] = 99999

print(d1)
print(d2)

{'c1': 1, 'c2': 2, 'l1': [0, 99999, 2]}
{'c1': 1000, 'c2': 2, 'l1': [0, 99999, 2]}

In [103]:
# CASE 3
import copy

d1 = {
    'c1': 1,
    'c2': 2,
    'l1': [0, 1, 2],
}

d2 = copy.deepcopy(d1) # deep-copy

d2['c1'] = 1000
d2['l1'][1] = 99999

print(d1)
print(d2)

{'c1': 1, 'c2': 2, 'l1': [0, 1, 2]}
{'c1': 1000, 'c2': 2, 'l1': [0, 99999, 2]}

## `pop()`:

In [104]:
# CASE 1
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
    'idade': 30
}

nome = pessoa.pop('nome')

print(nome)
print(pessoa)

Tauan
{'sobrenome': 'Torres', 'idade': 30}

## `popitem()`:

In [105]:
# CASE 1
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
}

ultimo_item = pessoa.popitem()

print(ultimo_item)
print(pessoa)

('sobrenome', 'Torres')
{'nome': 'Tauan'}

## `update()`:

In [106]:
# CASE 1
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
}

pessoa.update({
    'nome': 'Desmond',
})

print(pessoa)

{'nome': 'Desmond', 'sobrenome': 'Torres'}

In [107]:
# CASE 2
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
}

pessoa.update({
    'nome': 'Desmond',
    'idade': 12,
})

print(pessoa)

{'nome': 'Desmond', 'sobrenome': 'Torres', 'idade': 12}

In [108]:
# CASE 3
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
}

pessoa.update(nome='Desmond')

print(pessoa)

{'nome': 'Desmond', 'sobrenome': 'Torres'}

In [109]:
# CASE 3
pessoa = {
    'nome': 'Tauan',
    'sobrenome': 'Torres',
}

pessoa.update(nome='Desmond', idade=12)

print(pessoa)

{'nome': 'Desmond', 'sobrenome': 'Torres', 'idade': 12}

# `Set`:

In [110]:
conjunto = {3, 1, 2}

print(conjunto, type(conjunto))

{1, 2, 3} <class 'set'>

In [111]:
conjunto = {2, "Kristina", 1, 3, "Tauan"}

for c in conjunto:
    print(c)

1
2
3
Kristina
Tauan

"|" - Union 
"&" - Intersection
"-" - Difference
"^" - Simetrical diferrence

In [112]:
# CASE 1
s1 = {1, 2, 3}
s2 = {2, 3, 4}

s3 = s1 | s2
print(s3)

{1, 2, 3, 4}

In [113]:
# CASE 2
s1 = {1, 2, 3}
s2 = {2, 3, 4}

s3 = s1 & s2
print(s3)

{2, 3}

In [114]:
# CASE 3
s1 = {1, 2, 3}
s2 = {2, 3, 4}

s3 = s1 - s2
s4 = s2 - s1

print(s3)
print(s4)

{1}
{4}

In [115]:
# CASE 4
s1 = {1, 2, 3}
s2 = {2, 3, 4}

s3 = s1 ^ s2

print(s3)

{1, 4}

In [279]:
# ASNWER
x_original = [1, 2, 1, 3]
x = x_original.copy()
size_list = len(x_original)
repited = []

for i in range(size_list):
    elemento = x.pop(0)
    if elemento in x and elemento not in repited:
        repited.append(elemento)

if repited == []:
    resposta = -1
else:
    analise = [{f'{n}': []} for n in repited]
    for elemento in analise:
        chave = list(elemento.keys())[0]
        numero = int(chave)
        
        for i in range(size_list):
            if numero == x_original[i]:
                elemento[chave].append(i)

    for elemento in analise:
        chave = list(elemento.keys())[0]
        elemento[chave] = elemento[chave][1:]
        elemento['min'] = min(elemento[chave])

    ordenado = sorted(analise, key=lambda x: x['min'])
    resposta = list(ordenado[0].keys())[0]

resposta

'1'

In [280]:
# SOLUTION
numeros_checados = set()
primeiro_duplicado = -1

for numero in x_original:
    if numero in numeros_checados:
        primeiro_duplicado = numero
        break
    numeros_checados.add(numero)

primeiro_duplicado

1

## `sort() and sorted()`:

In [285]:
# CASE 1
lista = [1, 4, 2, 3, 5, 7 , 8]
lista.sort(reverse=False)

print(lista)

[1, 2, 3, 4, 5, 7, 8]

In [284]:
# CASE 2
lista = [1, 4, 2, 3, 5, 7 , 8]
lista.sort(reverse=True)

print(lista)

[8, 7, 5, 4, 3, 2, 1]

In [291]:
# CASE 3
lista = [1, 4, 2, 3, 5, 7 ,8]
new_lista = sorted(lista, reverse=False)

print("Old list:", lista)
print("New list:", new_lista)

Old list: [1, 4, 2, 3, 5, 7, 8]
New list: [1, 2, 3, 4, 5, 7, 8]

In [292]:
# CASE 3
lista = [1, 4, 2, 3, 5, 7 ,8]
new_lista = sorted(lista, reverse=True)

print("Old list:", lista)
print("New list:", new_lista)

Old list: [1, 4, 2, 3, 5, 7, 8]
New list: [8, 7, 5, 4, 3, 2, 1]

In [297]:
f = lambda x: x ** 2

lista = [1, 2, 3, 4]

for i in lista:
    print(f(i))

1
4
9
16